{% include 'includes/metadata.html' %}
{% include 'includes/header.html' %}


        <!-- Main column row -->
        <section class="row grey bottpadd toppadd">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Privacy Policy</h1>
                <p>We seek to protect the privacy of your information at all times when you visit our website.</p>

                <h2>Communication and how we may use your information</h2>
                <p>If you choose to send personal information to us (i.e. by clicking a Confirm/Send button) the information you supply will be sent and processed in a secure manner.</p>
                <p>Your personal information may only be processed for the purposes of our business, and/or communicated to connected parties.</p>
                <p>Your personal information will not be communicated to non-connected third parties (i.e. marketing or advertising companies), except where there is a direct link from this site to an external website and you choose to supply your information independently on those sites. Please observe the privacy policy and terms and conditions of external sites you may be directed to from this site.</p>

                <h2>Personal steps for you to consider</h2>
                <p>Please remain vigilant when using your personal details on the internet. Here are some steps you may consider:</p>
                <ul>
                    <li>Installation of appropriate anti-virus/malware/spyware software.</li>
                    <li>Do not store your personal information on a shared computer</li>
                    <li>Be aware of your surroundings and do not enter or store your personal information in such a way that it might be visible to others.</li>
                </ul>

                <h2>Cookies</h2>
                <p>Cookies are small, often encrypted, text files that are placed on your computer’s web browser directories which allow a website to recognize a user’s device. They are commonly used on the internet and often help to improve the user’s overall internet experience.</p>
                <p>We use “Session” cookies (these are deleted when the web browser session is closed) which are necessary in order for this site to function as intended.</p>
                <p>You can configure your internet browser to allow or reject cookies. Please refer to your browser’s help area for instructions on how to do this. Note that configuring your browser to reject cookies may cause some websites not to function as they were intended and this may diminish your internet experience.</p>
                <p>Further information regarding cookies can be found here http://www.allaboutcookies.org/ (links to external website).</p>

                <h2>Other concerns</h2>

                <p>Should you have any concerns about your privacy when choosing to communicate with us via the internet, or if you require further assistance, please contact us on 01904 655410.</p>


            </section>
        </section>

        <!-- Start of ending row -->
        <section class="row topmargin toppadd text-right grey">
            <section class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
                <blockquote>
                    <h2>What others are saying about us...</h2>
                    <i class="icon-quote-left icon-4x pull-right"></i>
                    <p>I have worked closely with MSY over the years, not only as their accountant but also as their client. i have no hesitation in recommending the services of MSY, professional, courteous and above all effective.</p>
                    <small>David Beckington <cite title="Source Title">Founding Director At Beckingtons Chartered Certified Accountants</cite></small>
                </blockquote>
            </section>

        </section>



{% include 'includes/footer.html' %}
