{% include 'includes/metadata.html' %}
{% include 'includes/header.html' %}


        <!-- Main column row -->
        <section class="row grey bottpadd toppadd">
            <section class="col-xs-12 col-lg-12">
                <h1>Thank you</h1>
                <p>We have received your enquiry and will be in touch very shortly.</p>



            </section>
        </section>

        <!-- Start of ending row -->
        <section class="row topmargin toppadd text-right grey">
            <section class="col-xs-12 col-lg-12">
                <blockquote>
                    <h2>What others are saying about us...</h2>
                    <i class="icon-quote-left icon-4x pull-right"></i>
                    <p>When a tenant left without paying the rent and disappeared i contacted MSY Debt Recovery. The tenant was traced, located and i got my money back. The MSY team was so easy to deal with and they kept me informed throughout the recovery process.</p>
                     <small>Martin Murphy <cite title="Source Title">Level House Property developer</cite></small>
                </blockquote>
            </section>

        </section>



{% include 'includes/footer.html' %}
