{% include 'includes/metadata.html' %}
{% include 'includes/header.html' %}


        <!-- Main column row -->
        <section class="row grey bottpadd toppadd">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Terms and Conditions</h1>
                <p>Please read the following carefully. The terms and conditions on this page set out the basis on which you can visit and use this website. We reserve the right to change these Terms and Conditions at any time, and therefore ask that you review them regularly.
                <p>This site is owned and operated by MSY Debt Recovery. (“”) Registered offices: PO BOX 811, York, YO31 6DJ. All rights in this website, including copyright rights, are owned by or licensed to MSY Debt Recovery.</p>
                <p>Any us of this website or its contents, including copying or storing it or them, whole or part, other than for personal and/or non-commercial use is prohibited without the express permission of MSY Debt Recovery.</p>
                <p>You may not modify, distribute, or repost something on this website for any purpose without the express permission of MSY Debt Recovery.</p>
                <p>MSY Debt Recovery has taken reasonable care in the preparation and content of this website. MSY Debt Recovery disclaims all warranties, express or implied, as to the accuracy of the information contained in any of the materials on this website, to the extent permitted by applicable law.</p>
                <p>MSY Debt Recovery shall not be liable to any person or organization for any loss or damage which may have arisen from the use of any of the information contained on this website.</p>
                <p>MSY Debt Recovery makes every effort to ensure that this website is free from defects and/or viruses. MSY Debt Recovery shall not be liable to any person or organization for any loss or damage to computer equipment and/or other equipment which may have arisen as a result of using this website.</p>
                <p>This website may provide links to other websites which MSY Debt Recovery may think you may want to visit. We do not vet these websites and do not have any control over their contents. MSY Debt Recovery do not accept any liability in respect of the use of these websites.</p>
                <p>Any disclaimers and/or exclusions of liability in these terms and conditions shall not apply to any damages arising from death or personal injury caused by the negligence of MSY Debt Recovery or any of its employees and/or agents, or fraud. These disclaimers and exclusions shall be governed by and construed in accordance with English laws. If any provision of these disclaimers and/or exclusions shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable and shall not affect the validity and/or enforceability of the remaining provisions.</p>
                <p>This website, any contract and/or agreement contained herein, and any contract and/or agreement brought info being as a result of usage of this website, are governed by and construed in accordance with applicable law. These terms and conditions do not affect your legal rights.</p>
                <p>Please note that the internet is not a 100% secure method of communication. If you have any concerns about submitting personal and/or financial information on this website, and would prefer to contact us by telephone, please call 01904 655510.</p>


            </section>
        </section>

        <!-- Start of ending row -->
        <section class="row topmargin toppadd text-right grey">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <blockquote>
                    <h2>What others are saying about us...</h2>
                    <i class="icon-quote-left icon-4x pull-right"></i>
                    <p>I have worked closely with MSY over the years, not only as their accountant but also as their client. i have no hesitation in recommending the services of MSY, professional, courteous and above all effective.</p>
                    <small>David Beckington <cite title="Source Title">Founding Director At Beckingtons Chartered Certified Accountants</cite></small>
                </blockquote>
            </section>

        </section>



{% include 'includes/footer.html' %}
